/* Skip to line 53 <Line 3 - 52 is reset css> */

/* Reset for page 
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------------------ */
/*-----------Header & Nav--------------*/
/* Large */
.navigation {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
    background-color: #ffffff;
    position: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: #777777, 1px;
  }
  
  /* Medium screens */
  @media all and (max-width: 800px) {
    .navigation {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .navigation {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

/*-----------Body Containers -----------*/
.wrapper {
    display: flex;
    flex-flow: row wrap;
    background-image: url(../images/trees.png);
  }
  
  /* We tell all items to be 100% width, via flex-basis */
  .wrapper > * {
    flex: 1 100%;
  }
  
  /* We rely on source order for mobile-first approach
   * in this case:
   * 1. header
   * 2. article
   * 3. aside 1
   * 4. aside 2
   * 5. footer
   */
  
  /* Medium screens */
  @media all and (min-width: 600px) {
    /* We tell both sidebars to share a row */
    .aside { flex: 1 auto; }
  }
  
  /* Large screens */
  @media all and (min-width: 800px) {
    /* We invert order of first sidebar and main
     * And tell the main element to take twice as much width as the other two sidebars 
     */
    .main { flex: 2 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }

/* ---------------Header & Nested Nav CSS ------------- */
header {
    background-color: #ffffff;
    position: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: #777777, 1px;
}

#nameDiv {
    background-color: #4aaaa5;

}

#name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ffffff; 
}



ul {
    list-style-type: none;
}

li {
    float: right;
    border-right: 1px solid #bbb;
}

li a {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

li:first-child {
    border-right: none;
    padding-right: none;
}

/* ---------------General Body Contect CSS ------------- 
html {
    height: 100%;
}


#BodyDiv {
    background-color: #ffffff;
    width: 960px;
    position: relative;
    justify-items: center;
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 50px;
    border: #777777, 1px;
    padding: 15px;
}

#pageTitle {
    color: #4aaaa5;
    font-weight: bold;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    margin: 1px;
}

 ---------------Footer CSS ------------- 
footer {
    background-color: #777777;
    height: 50px;
    position: sticky;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    width: 100%;
}

#pFooter {
    position: fixed;
    bottom: 0;
    left: 47%;
    margin-bottom: 5px;
}

#footDiv {
    background-color: #4aaaa5;
    height: 8px;
    width: 100%;
}



---------------About Page Specific CSS ------------- 
#aboutImage {
    width: 200px;
    height: 200px;
    border: 1px;
}

#aboutPar {
    margin-top: 15px;
    margin-bottom: 15px;
}



 ---------------Portfolio Page Specific CSS ------------- 
#portTable {
    margin-top: 20px;
}

th {
    box-sizing: content-box;
    height: 150px;
    width: 150px;
}

.portTableNames {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 12px;
    margin-top: 150px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    border-right: 10px;
    border-bottom: 10px;
    border-color: none;
}

td {
    height: 200px;
    width: 200px;
    border-right: 20px solid #ffffff;
    border-bottom: 20px solid #ffffff;
}

#hangman {
    background-image: url(../images/hangman.jpg);
}

#rpgGame {
    background-image: url(../images/rpg.jpg);
}

#triviaGame {
    background-image: url(../images/trivia.jpg);
}

#rutgersInfo {
    background-image: url(../images/rutgers.jpg);
}

#rockPaper {
    background-image: url(../images/rockPaper.jpg);
}

 ---------------Contact Page Specific CSS ------------- 
#contactPageButtom {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #777777;
    box-sizing: border-box; /* Make sure that padding and width stays in place 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) 
}

input[type=submit] {
    background-color: #4aaaa5;
    color:#ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #777777;
  }

  form {
      margin-top: 15px;
      margin-bottom: 15px;
  }

*/